{% extends 'base.html' %}

{% block title %}
Erro - Página não encontrada
{% endblock %}

{% block content%}
<div class= "imagem">
    <img src="https://image.freepik.com/vetores-gratis/erro-404-pagina-nao-encontrada-no-estilo-de-efeito-de-falha-com-linhas-horizontais-distorcidas-e-tipografia-brilhante-de-neon-em-fundo-escuro-site-em-manutencao-conexao-com-a-internet-perdida_8071-2628.jpg" width="626" height="433" alt="Erro 404, página não encontrada no estilo de efeito de falha com linhas horizontais distorcidas e tipografia brilhante de néon em fundo escuro. site em manutenção, conexão com a internet perdida Vetor Premium" onload="window.imageLoaded(this);">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="btn btn-primary" href="{{ url_for('grade') }}" role="button">Link</a>
</div>
{% endblock %}
